// Parallax
.index--parallax {
    background-image: url("../assets/img/parallax_vino.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-bottom: 40px;
    opacity: 0.8;
    h1 {
        padding: 150px 50px 0px 50px;
        font-size: 5rem;
        font-family: 'Montserrat', sans-serif;
        color: white;
        text-align: center;
    }
}

// Sección información index
.seccion__info {
    @include flex-justify-content-align-items-center;
    height: 350px; 
    background-image: url("../assets/img/luz_vino.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.6;
    .seccion__info--items {
        @include flex-justify-content-align-items-center;
        border-radius: 50%; 
        width: 250px; 
        height: 250px; 
        margin: 0px 10px; 
        background: #523A32;
        opacity: 0.8;
    }
    .info--text {
        opacity: 1; 
        color: white; 
        font-size: 1.5rem; 
        text-align: center;
    }
}

// Vista mobile
@media only screen and (min-width:0px) and (max-width:854px) {
    // Sección información index
    .seccion__info {
        display: flex;
        flex-direction: column;
        height: 700px; 
        background-image: url("../assets/img/luz_vino.jpg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        opacity: 0.6;
        .seccion__info--items {
            @include flex-justify-content-align-items-center;
            flex-direction: column;
            border-radius: 50%; 
            width: 210px; 
            height: 210px; 
            margin: 5px 0px; 
            background: #523A32;
            opacity: 0.8;
        }
        .info--text {
            opacity: 1; 
            color: white; 
            font-size: 1.2rem; 
            text-align: center;
        }
    }
}